/* Загальні стилі для всієї сторінки */

/* Стилі для тіла сторінки */
body {
    font-family: Arial, sans-serif; /* Встановлюємо шрифт */
    margin: 0; /* Видаляємо зовнішні відступи */
    padding: 0; /* Видаляємо внутрішні відступи */
}

/* Стилі для заголовка */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%; /* Захоплюємо всю ширину екрану */
    z-index: 1000;
}

header h1 {
    margin: 20px; /* Видаляємо зовнішні відступи */
}

header ul {
    list-style-type: none; /* видаляємо маркери списку */
    padding: 0; /* видаляємо внутрішні відступи */
    display: flex; /* використовуємо flexbox */   
}

header ul li {
    margin-right: 30px; /* збільшуємо відступ між елементами */
}



/* Стилі для головного вмісту */
main {
    display: flex;
    background-color: #f2f2f2; /* Ледь сірий фон */
}

.content {
    flex-grow: 1; /* Розтягуємо контент на доступну ширину */
    padding: 20px; /* Відступи контенту */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Додатковий відступ між секціями */
    display: flex; /* Встановлюємо властивість flex */
    flex-wrap: wrap; /* Розміщуємо елементи в ряд на кілька рядків */
}

/* Стилі для заголовків розділів */
section h3 {
    width: 100%; /* Захоплюємо всю ширину секції */
    margin-bottom: 30px; /* Додатковий відступ між заголовком і блоками */
    text-align: center;

}

/* Стилі для картинок у розділах */
section img {
    max-width: 100%; /* Максимальна ширина картинки - 100% ширини батьківського контейнера */
    height: auto; /* Автоматична висота для збереження пропорцій */
    margin-bottom: 10px; /* Додатковий відступ після картинки */
}

/* Стилі для тексту під картинками у розділах */
section p {
    color: #333;
}

/* Стилі для рядків блоків ігор */
section div {
    flex: 0 0 calc(33.33% - 20px); /* Розраховуємо ширину блоків ігор */
    margin-right: 20px; /* Додатковий відступ між блоками */
    margin-bottom: 20px; /* Відступ між рядками блоків */
    opacity: 80%; /* Початкова прозорість блоку */
    transform: translateY(20px); /* Початкове зміщення вниз на 20px */
    transition: opacity 0.3s, transform 0.3s; /* Додати плавну анімацію для прозорості та зміщення */
}

/* Анімація при наведенні */
section div:hover {
    opacity: 1; /* Зміна прозорості на повну при наведенні */
    transform: translateY(0); /* Зміщення назад в положення за замовчуванням */
}

/* Стилі для блоків ігор */
section div > div {
    flex-basis: calc(33.33% - 10px); /* Ширина блоку ігри (33.33% з відступом) */
    margin-bottom: 10px; /* Відступ між рядками блоків */
}

section a:hover {
    text-decoration: none;
}

/* Стилі для різних секцій */
#section1 {
    background-color: #e0e0e0; 
}

#section2 {
    background-color: #d3d3d3; 
}

#section3 {
    background-color: #c6c6c6; 
}

#section4 {
    background-color: #b9b9b9; 
}


/* Стилі для навігаційного меню */
nav {
    background-color: #444; /* Колір фону навігаційного меню */
    color: #fff; /* Колір тексту навігаційного меню */
    padding: 10px; /* Відступи навігаційного меню */
    width: 200px; /* Ширина навігаційного меню */
}

nav ul {
    list-style-type: none; /* Видалення маркерів списку */
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Розтягуємо список по всій доступній висоті */
}

nav ul li {
    margin-bottom: 5px; /* Відступ між пунктами меню */
}

nav ul li a {
    color: #fff; /* Колір посилань */
    text-decoration: none; /* Видалення підкреслення з посилань */
    display: block; /* Розташування посилань як блочних елементів */
    padding: 5px; /* Відступи */
}

nav ul li a:hover {
    background-color: #555; /* Колір фону при наведенні на посилання */
}

/* Стилі для футера */
footer {
    background-color: #333; /* Колір фону */
    color: #fff; /* Колір тексту */
    text-align: center; /* Вирівнювання тексту по центру */
    padding: 10px; /* Відступи */
    clear: both; /* Вирівнюємо футер під усі блоки */
    position: relative; /* Встановлюємо позицію */
    bottom: 0; /* Розміщуємо футер внизу сторінки */
    width: 100%; /* Розтягуємо футер на всю ширину */
}

/* Стилі для посилань */
a {
    color: white; /* колір тексту посилань */
    text-decoration: none; /* видаляємо підкреслення посилань */
}

a:hover {
    text-decoration: underline; /* підкреслюємо посилання при наведенні курсору */
}

form {
    max-width: 600px; /* Максимальна ширина форми */
    margin: 0 auto; /* Центруємо форму по горизонталі */
    padding: 20px; /* Відступи */
    border: 1px solid #ccc; /* Рамка навколо форми */
    border-radius: 10px; /* Закруглені кути форми */
}

/* Стилі для заголовка форми */
.form h2 {
    text-align: center; /* Вирівнювання тексту по центру */
}

/* Стилі для полів вводу */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select,
form textarea {
    width: 100%; /* Захоплюємо всю доступну ширину */
    padding: 10px; /* Відступи вокруг полів вводу */
    margin-bottom: 15px; /* Відступ між полями */
    border: 1px solid #ccc; /* Рамка навколо полів вводу */
    border-radius: 5px; /* Закруглені кути полів вводу */
    box-sizing: border-box; /* Враховуємо товщину рамки у загальній ширині елемента */
}

/* Стилі для лейблів полів вводу */
form label {
    font-weight: bold; /* Жирний шрифт */
}

/* Стилі для кнопки "Зареєструватись" */
form button {
    width: 100%; /* Захоплюємо всю доступну ширину */
    padding: 10px; /* Відступи */
    background-color: #333; /* Колір фону кнопки */
    color: #fff; /* Колір тексту кнопки */
    border: none; /* Видаляємо рамку */
    border-radius: 5px; /* Закруглені кути */
    cursor: pointer; /* Змінюємо курсор при наведенні */
    transition: background-color 0.3s; /* Плавна анімація зміни кольору фону */
}

/* Анімація при наведенні на кнопку */
form button:hover {
    background-color: #555; /* Зміна кольору фону при наведенні */
}